/* ===========================공통============================== */
.mainPage {height: 100vh;}
.mainPage .mainPage_wrapper .mainPage_slide {height: 100vh; overflow: hidden;}
.mainPage .mainPage_wrapper .mainPage_slide .contents .title_more {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 25px;
}
.mainPage .mainPage_wrapper .mainPage_slide .contents .title_more .title {display: flex; align-items: end;}
.mainPage .mainPage_wrapper .mainPage_slide .contents .title_more .title h2 {
    font-size: 1.75rem;
    font-family: 'YESMyoungjo-Regular';
    font-weight: 600;
    margin-right: 20px;
}
/* ============== list ============== */
.mainPage .mainPage_wrapper .mainPage_slide .contents .title_more .title .list {
    display: flex;
    width: 400px;
    justify-content: space-between;
}
.mainPage .mainPage_wrapper .mainPage_slide .contents .title_more .title .list li:hover a {
    color: #EBDCCA;
}
.mainPage .mainPage_wrapper .mainPage_slide .contents .title_more .title .list li a {
    font-family: 'YESMyoungjo-Regular';
    font-size: 1.125rem;
}
.mainPage .mainPage_wrapper .mainPage_slide .contents .title_more .title .list li a span {
    font-size: 1.125rem;
    display: inline-block;
    font-family: 'YESMyoungjo-Regular';
    background-color: #EBDCCA;
    border-radius: 8px;
    height: 0.8rem;/*  */
}
/* ============== more ============== */
.mainPage .mainPage_wrapper .mainPage_slide .contents .title_more .more {width: 100%; text-align: right;}
.mainPage .mainPage_wrapper .mainPage_slide .contents .title_more .more a {
    font-size: 0.875rem;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    transition: all 0.2s;
}
.mainPage .mainPage_wrapper .mainPage_slide .contents .title_more .more a:hover {
    border-bottom: 1px solid;
}
.mainPage .mainPage_wrapper .mainPage_slide .contents .container {position: relative;}
/* ============== 매장 정보 ============== */
.mainPage .mainPage_wrapper .mainPage_slide .contents .container .list {
    display: flex;
    align-items: end;
    justify-content: center;
}
.mainPage .mainPage_wrapper .mainPage_slide .contents .container .list h3 {
    font-size: 1.5rem;
    font-family: 'YESMyoungjo-Regular';
    font-weight: 600;
    margin-right: 15px;
}
.mainPage .mainPage_wrapper .mainPage_slide .contents .container .list p {
    font-size: 0.875rem;
}
.mainPage .mainPage_wrapper .mainPage_slide .contents .container .list .place {margin-left: 120px; margin-right: 10px;}
/* ============== 매장 사진 ============== */
/*  */
.mainPage .mainPage_wrapper .mainPage_slide .contents .container .arrow {
    color: #aaa;
    transition: all 0.2s;
}
.mainPage .mainPage_wrapper .mainPage_slide .contents .container .arrow:hover {
    color: #333;
}
.mainPage .mainPage_wrapper .mainPage_slide .contents .container .swiper-button-prev {
    top: 55%; left: 5%;
}
.mainPage .mainPage_wrapper .mainPage_slide .contents .container .swiper-button-next {
    top: 55%; right: 5%;
}
.mainPage .mainPage_wrapper .mainPage_slide .contents .container .swiper-pagination {
    bottom: -20px;
}
.mainPage .mainPage_wrapper .mainPage_slide .contents .container .swiper-pagination .swiper-pagination-bullet {
    border-radius: 0; margin: 0; width: 60px; height: 3px;
    transition: all 0.3s;
}
.mainPage .mainPage_wrapper .mainPage_slide .contents .container .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #d7c2a9;
}
/* event arrow, pagination */
.mainPage .mainPage_wrapper .s5 .event .event_list .arrow {
    top: 50%; transform:  translateY(-50%);
}
.mainPage .mainPage_wrapper .s5 .event .event_list .swiper-button-prev {
    left: 0%;
}
.mainPage .mainPage_wrapper .s5 .event .event_list .swiper-button-next {
    right: 0%;
}
.mainPage .mainPage_wrapper .s5 .event .event_list {
    padding-bottom: 60px;
}
.mainPage .mainPage_wrapper .s5 .event .event_list .swiper-pagination {
    bottom: 0px;
}
/* picture arrow, pagination */
.mainPage .mainPage_wrapper .s6 .picture .container .arrow {
    top: 50%; transform:  translateY(-50%);
}
.mainPage .mainPage_wrapper .s6 .picture .container .swiper-button-prev {
    left: -35px;
}
.mainPage .mainPage_wrapper .s6 .picture .container .swiper-button-next {
    right: -35px;
}
/* picture arrow, pagination */
.mainPage .mainPage_wrapper .s7 .journal_footer .container .arrow {
    top: 50%; transform:  translateY(-50%);
}
.mainPage .mainPage_wrapper .s7 .journal_footer .container .swiper-button-prev {
    left: 10px;
}
.mainPage .mainPage_wrapper .s7 .journal_footer .container .swiper-button-next {
    right: 10px;
}
/* ============================개별================================ */
/* ====================== shop ==================== */
.mainPage .mainPage_wrapper .s2 .shop {
    width: calc(100% - 240px);
    margin: 70px auto;
}
.mainPage .mainPage_wrapper .s2 .shop .perfume {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* =============== 메인 product ================ */
.mainPage .mainPage_wrapper .s2 .shop .perfume .main_product {
    position: relative;
    margin-right: 20px;
    display: inline-block;
}
.mainPage .mainPage_wrapper .s2 .shop .perfume .main_product .photo img {width: 100%;}
.mainPage .mainPage_wrapper .s2 .shop .perfume .main_product .shop_txt {
    position: absolute;
    bottom: -5px; left: 0;
    width: 100%;
    padding: 50px;
    transition: all 0.3s;
}
.mainPage .mainPage_wrapper .s2 .shop .perfume .main_product:hover .shop_txt {
    bottom: 0px; left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.mainPage .mainPage_wrapper .s2 .shop .perfume .main_product .shop_txt .title_price {
    display: flex;
    justify-content: space-between;
}
.mainPage .mainPage_wrapper .s2 .shop .perfume .main_product .shop_txt .title_price h3 {
    color: #222;
    font-size: 1.5rem;
    font-family: 'YESMyoungjo-Regular';
}
.mainPage .mainPage_wrapper .s2 .shop .perfume .main_product .shop_txt .title_price .price {
    color: #222;
}
.mainPage .mainPage_wrapper .s2 .shop .perfume .main_product .shop_txt .ex {
    color: #eee;
    margin-top: 20px;
    line-height: 1.5;
    overflow: hidden;
    height: 75px;
    font-weight: 200;
    display: none;
}
.mainPage .mainPage_wrapper .s2 .shop .perfume .main_product:hover .shop_txt h3 {
    color: #eee;
}
.mainPage .mainPage_wrapper .s2 .shop .perfume .main_product:hover .shop_txt .price {
    color: #eee;
}
.mainPage .mainPage_wrapper .s2 .shop .perfume .main_product:hover .shop_txt .ex {
    display: block;
}
/* ================ 서브 product ================== */
/* 서브 desktop */
.mainPage .mainPage_wrapper .s2 .shop .perfume .desktop_sub {
    width: 640px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.mainPage .mainPage_wrapper .s2 .shop .perfume .desktop_sub .sub_product {
    width: calc((100% - 20px) / 2);
    position: relative;
}
.mainPage .mainPage_wrapper .s2 .shop .perfume .desktop_sub .sub_product:nth-child(1), .mainPage .mainPage_wrapper .s2 .shop .perfume .desktop_sub .sub_product:nth-child(2) {
    margin-bottom: 18px;
}
.mainPage .mainPage_wrapper .s2 .shop .perfume .desktop_sub .sub_product .photo img {width: 100%;}
.mainPage .mainPage_wrapper .s2 .shop .perfume .desktop_sub .sub_product .shop_txt {
    position: absolute; top: 0; left: 0;
    padding: 10px 10px 0 10px;
    transition: all 0.3s;
    width: 100%; height: 100%;
    opacity: 0;
}
.mainPage .mainPage_wrapper .s2 .shop .perfume .desktop_sub .sub_product .shop_txt .ex {
    font-size: 0.875rem;
    line-height: 1.6;
    color: transparent;
    height: 83%;
    overflow: hidden;
    font-weight: 200;
}
.mainPage .mainPage_wrapper .s2 .shop .perfume .desktop_sub .sub_product .shop_txt .title_price {
    text-align: right;
}
.mainPage .mainPage_wrapper .s2 .shop .perfume .desktop_sub .sub_product .shop_txt .title_price h3 {
    font-family: 'YESMyoungjo-Regular';
}
.mainPage .mainPage_wrapper .s2 .shop .perfume .desktop_sub .sub_product .shop_txt .title_price .price {
    font-family: 'YESMyoungjo-Regular';
    margin-top: 5px;
}
/*======= sub_product hover =========*/
.mainPage .mainPage_wrapper .s2 .shop .perfume .desktop_sub .sub_product:hover .shop_txt {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
}
.mainPage .mainPage_wrapper .s2 .shop .perfume .desktop_sub .sub_product:hover .shop_txt .ex {
    color: #eee;
}
.mainPage .mainPage_wrapper .s2 .shop .perfume .desktop_sub .sub_product:hover .shop_txt .title_price h3 {
    color: #eee;
}
.mainPage .mainPage_wrapper .s2 .shop .perfume .desktop_sub .sub_product:hover .shop_txt .title_price .price {
    color: #eee;
}
/* sub tablet */
.mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub {display: none;}
/* ====================== 3page store ==================== */
.mainPage .mainPage_wrapper .s3 .store {margin : 70px auto;}
.mainPage .mainPage_wrapper .s3 .store .title_more {
    width: calc(100% - 240px);
    margin: 0 auto;
}
.mainPage .mainPage_wrapper .s3 .store .mapo {margin-top: 40px;}
.mainPage .mainPage_wrapper .s3 .store .mapo .img_list {margin: 40px 0 0;}
.mainPage .mainPage_wrapper .s3 .store .mapo .img_list .swiper-wrapper .mapo_img img {width: 100%;}
/* ====================== 4page cafe ==================== */
.mainPage .mainPage_wrapper .s4 .cafe {margin: 50px 0;}
.mainPage .mainPage_wrapper .s4 .cafe .title_more {
    width: calc(100% - 240px);
    margin: 0 auto;
}
.mainPage .mainPage_wrapper .s4 .cafe .cafe_txt {
    font-size: 1.125rem;
    margin: 20px 120px 40px;
    font-family: 'YESMyoungjo-Regular';
}
.mainPage .swiper-wrapper .s4 .cafe .seogyo .img_list {
    margin-top: 40px;
}
.mainPage .swiper-wrapper .s4 .cafe .seogyo .img_list .seogyo_img img {width: 100%;}
/* ====================== 5page event ==================== */
.mainPage .swiper-wrapper .s5 .event {
    width: calc(100% - 240px);
    margin: 50px auto;
    position: relative;
}
.mainPage .swiper-wrapper .s5 .event .event_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainPage .swiper-wrapper .s5 .event .line {
    width: 1px; height: 60%;
    background-color: #D9D6CB;
    position: absolute;
}
.mainPage .swiper-wrapper .s5 .event .line1 {
    top: 50%; left: 33.3%; transform: translateY(-50%);
}
.mainPage .swiper-wrapper .s5 .event .line2 {
    top: 50%; left: 66.6%; transform: translateY(-50%);
}
/* ====================== 공통 bn ====================== */
.mainPage .swiper-wrapper .s5 .event .event_list {
}
.mainPage .swiper-wrapper .s5 .event .event_list .bn {
    display: flex;
    flex-flow: column;
    width: calc(100% / 3);
    padding: 0 50px;
    transition: all 0.2s;
}
.mainPage .swiper-wrapper .s5 .event .event_list .bn .bn_title {text-align: center;}
.mainPage .swiper-wrapper .s5 .event .event_list .bn .bn_title h3 {
    font-size: 1.5rem;
    font-weight: 800;
}
.mainPage .swiper-wrapper .s5 .event .event_list .bn .bn_title p {
    font-size: 1.25rem;
    margin: 10px 0 45px;
}
.mainPage .swiper-wrapper .s5 .event .event_list .bn .bn_eventin {margin: 0 auto;}
.mainPage .swiper-wrapper .s5 .event .event_list .bn .click {
    margin: 50px auto 0;
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    height: 45px; width: 220px;
    transition: all 0.3s;
}
.mainPage .swiper-wrapper .s5 .event .event_list .bn .click > p {
    line-height: 41px;
    text-align: center;
    font-weight: 500;
    font-size: 1.25rem;
}
.mainPage .swiper-wrapper .s5 .event .event_list .bn:hover {
    opacity: 0.7;
}
/* ====================== 개별 bn ===================== */
.mainPage .swiper-wrapper .s5 .event .event_list .event1 .bn_eventin {
    position: relative;
}
.mainPage .swiper-wrapper .s5 .event .event_list .event1 .bn_eventin > img {
    width: 100%;
}
.mainPage .swiper-wrapper .s5 .event .event_list .event1 .bn_eventin .gift_free {
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: end;
}
.mainPage .swiper-wrapper .s5 .event .event_list .event1 .bn_eventin .gift_free .gift {margin-right: 30px;}
.mainPage .swiper-wrapper .s5 .event .event_list .event1 .bn_eventin .gift_free .gift_free_cont img {width: 100%;}/*  */
.mainPage .swiper-wrapper .s5 .event .event_list .event1 .bn_eventin .gift_free .gift_free_cont h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 22px 0;
}
.mainPage .swiper-wrapper .s5 .event .event_list .event1 .bn_eventin .gift_free .gift_free_cont p {
    font-size: 0.875rem;
    line-height: 1.5;
}
.mainPage .swiper-wrapper .s5 .event .event_list .event2 .bn_eventin img {width: 100%}/*  */
.mainPage .swiper-wrapper .s5 .event .event_list .event3 .bn_eventin img {width: 100%}/*  */
/* ======================= page6 picture ======================== */
.mainPage .swiper-wrapper .s6 .picture {
    width: calc(100% - 240px);
    margin: 45px auto;
}
.mainPage .swiper-wrapper .s6 .picture .container {
    display: flex;
}
.mainPage .swiper-wrapper .s6 .picture .container .basic {margin-right: 20px;}
.mainPage .swiper-wrapper .s6 .picture .container .basic img {width: 100%;}
/* ============== swiper picture ============= */
.mainPage .swiper-wrapper .s6 .picture .container .pic_list {width: 80%;}
.mainPage .swiper-wrapper .s6 .picture .container .pic_list > .swiper-wrapper .pic_slide .pic_cont {transition: all 0.2s;}
.mainPage .swiper-wrapper .s6 .picture .container .pic_list > .swiper-wrapper .pic_slide .pic_cont:hover {opacity: 0.7;}
.mainPage .swiper-wrapper .s6 .picture .container .pic_list > .swiper-wrapper .pic_slide .pic_cont img {width: 100%;}
.mainPage .swiper-wrapper .s6 .picture .container .pic_list > .swiper-wrapper .pic_slide .pic_cont .pic_txt {
    display: flex;
    margin-top: 8px; margin-bottom: 25px;
    justify-content: space-between;
}
.mainPage .swiper-wrapper .s6 .picture .container .pic_list > .swiper-wrapper .pic_slide .pic_cont .pic_txt h3 {
    font-size: 1.125rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mainPage .swiper-wrapper .s6 .picture .container .pic_list > .swiper-wrapper .pic_slide .pic_cont .pic_txt p {
    font-size: 0.875rem;
    width: 60%;
    text-align: right;
}
/* ======================= journal ======================== */
.mainPage .swiper-wrapper .s7 .journal_footer .title_more {
    margin: 45px 120px 25px;
}
/* =========== swiper journal ========== */
.mainPage .swiper-wrapper .s7 .journal_footer .container {width: calc(100% - 240px);}
.mainPage .swiper-wrapper .s7 .journal_footer .container .swiper-wrapper .swiper-slide {
    height: 100%;
}
.mainPage .swiper-wrapper .s7 .journal_footer .container .swiper-wrapper .swiper-slide .jour_cont {transition: all 0.2s;}
.mainPage .swiper-wrapper .s7 .journal_footer .container .swiper-wrapper .swiper-slide .jour_cont:hover {
    opacity: 0.7;
}
.mainPage .swiper-wrapper .s7 .journal_footer .container .swiper-wrapper .swiper-slide .jour_cont img {width: 100%;}
.mainPage .swiper-wrapper .s7 .journal_footer .container .swiper-wrapper .swiper-slide .jour_cont .jour_txt {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}
.mainPage .swiper-wrapper .s7 .journal_footer .container .swiper-wrapper .swiper-slide .jour_cont .jour_txt h3 {
    font-size: 1.125rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mainPage .swiper-wrapper .s7 .journal_footer .container .swiper-wrapper .swiper-slide .jour_cont .jour_txt p {
    font-size: 0.875rem;
    width: 50%;
    text-align: right;
}