@media screen and (max-width: 1600px){
    header .logo {margin-left: 20px;}
    header .right {
        margin-right: 20px;
    }
    /* ====================== shop ==================== */
    .mainPage .mainPage_wrapper .s2 .shop {
        width: calc(100% - 80px);
        margin: 70px auto;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume {
        justify-content: center;
    }
    /* =============== 메인 product ================ */
    .mainPage .mainPage_wrapper .s2 .shop .perfume .main_product {
        width: 821px;
        margin-right: 100px;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .main_product .photo {}
    .mainPage .mainPage_wrapper .s2 .shop .perfume .main_product .photo img {}
    .mainPage .mainPage_wrapper .s2 .shop .perfume .main_product .shop_txt {
        position: relative;
        background-color: transparent;
        width: auto;
        padding: 20px 0px;
        opacity: 1;
        transition: none;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .main_product:hover .shop_txt {
        background-color: transparent;
        bottom: -5px; left: 0;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .main_product .shop_txt .title_price {
        display: flex;
        justify-content: space-between;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .main_product .shop_txt .title_price h3 {
        color: #333;
        font-size: 1.5rem;
        font-family: 'YESMyoungjo-Regular';
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .main_product .shop_txt .title_price .price {
        color: #333;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .main_product .shop_txt .ex {
        color: #333;
        margin-top: 20px;
        line-height: 1.5;
        overflow: visible;
        height: 75px;
        width: 100%;
        font-weight: 400;
        display: block;
    }
    /* 서브 */
    .mainPage .mainPage_wrapper .s2 .shop .perfume .desktop_sub {
        display: none;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub {
        display: block;
        position: relative;
        margin-right: 40px;
        width: 25%;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .sub_swiper_cont {
        width: 100%;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .sub_swiper_cont .swiper-wrapper {}
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .sub_swiper_cont .swiper-wrapper .sub_product {}            
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .sub_swiper_cont .swiper-wrapper .sub_product a {
    }            
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .sub_swiper_cont .swiper-wrapper .sub_product a .photo img {width: 100%;}
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .sub_swiper_cont .swiper-wrapper .sub_product a .shop_txt {
        margin-top: 10px;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .sub_swiper_cont .swiper-wrapper .sub_product a .shop_txt .title_price {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .sub_swiper_cont .swiper-wrapper .sub_product a .shop_txt .title_price h3 {
        font-family: 'YESMyoungjo-Regular';
        margin: 20px 0 15px;
        font-weight: 600;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .sub_swiper_cont .swiper-wrapper .sub_product a .shop_txt .title_price .price {
        font-family: 'YESMyoungjo-Regular';
        font-size: 0.75rem;
        margin-top: 5px;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .sub_swiper_cont .swiper-wrapper .sub_product a .shop_txt .ex {
        line-height: 1.6;
        font-size: 0.875rem;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .swiper-button-prev {
        top: 50%; left: -50px; transform: translateY(-50%);
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .swiper-button-next {
        top: 50%; right: -50px; transform: translateY(-50%);
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .arrow {
        color: #aaa;
        transition: all 0.2s;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .arrow:hover {
        color: #333;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .swiper-pagination {
    }
    .mainPage .mainPage_wrapper .s3 .store .title_more {
        width: calc(100% - 80px);
    }
    .mainPage .mainPage_wrapper .s4 .cafe .title_more {
        width: calc(100% - 80px);
    }
    .mainPage .mainPage_wrapper .s4 .cafe .cafe_txt {
        margin-left: 40px;
    }
    .mainPage .swiper-wrapper .s5 .event {
        width: calc(100% - 80px);
        margin: 50px auto;
        position: relative;
    }
    .mainPage .swiper-wrapper .s5 .event .line1 {
        top: 50%; left: 50%; transform: translate(-50%, -50%);
        height: 70%;
    }
    .mainPage .swiper-wrapper .s5 .event .line2 {
        display: none;
    }
    .mainPage .swiper-wrapper .s5 .event .event_list .swiper-wrapper .bn a .bn_eventin {
        text-align: center;
    }
    .mainPage .swiper-wrapper .s5 .event .event_list .swiper-wrapper .bn a .bn_eventin img {
        width: 80%;
    }
    .mainPage .swiper-wrapper .s6 .picture {
        width: calc(100% - 80px);
    }
    .mainPage .swiper-wrapper .s7 .journal_footer .title_more {
        margin: 45px 40px 25px;
    }
    .mainPage .swiper-wrapper .s7 .journal_footer .container {width: calc(100% - 80px);}
    .mainPage .swiper-wrapper .s7 .journal_footer footer .f_txt {margin-left: 40px;}
    .mainPage .swiper-wrapper .s7 .journal_footer footer .f_right {margin-right: 40px;}
    }
@media screen and (max-width: 1500px){
}
@media screen and (max-width: 1300px){
    .mainPage .swiper-wrapper .s5 .event .event_list .event1 .bn_eventin .gift_free .gift_free_cont h4 {
        margin: 10px 0;
    }
}
@media screen and (max-width: 1200px){
    .mainPage .swiper-wrapper .s1 .mainVisual video {
        width: 140%;
    }
    .mainPage .swiper-wrapper .s5 .event .line1 {
        display: none;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .swiper-pagination .swiper-pagination-bullet {
        width: 50px;
    }
    .mainPage .mainPage_wrapper .mainPage_slide .contents .container .list .place {margin-left: 60px; margin-right: 10px;}
}
@media screen and (max-width: 1100px){
    .mainPage .swiper-wrapper .s5 .event .event_list .swiper-wrapper .bn a .bn_eventin img {
        width: 50%;
    }
    .mainPage .swiper-wrapper .s6 .picture .container .basic img {}
    .mainPage .swiper-wrapper .s5 .event {
        width: calc(100% - 80px);
        margin: 30px auto;
        position: relative;
    }
    .mainPage .swiper-wrapper .s7 .journal_footer footer .f_right .f_story {
        font-size: 0.875rem;
    }
    .mainPage .swiper-wrapper .s7 .journal_footer footer {
        font-size: 0.75rem;
    }
    .mainPage .swiper-wrapper .s7 .journal_footer footer .f_right .f_menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .mainPage .swiper-wrapper .s7 .journal_footer footer .f_right .f_menu a {
        margin-right: 0px;
    }
}
@media screen and (max-width: 900px){
    header nav a {
        font-size: 1rem;
    }
    header .right {
        width: 12%;
    }
    header .right a {}
    .mainPage .swiper-wrapper .s1 .mainVisual video {
        width: 180%;
    }
    .mainPage .mainPage_wrapper .mainPage_slide .contents .title_more .title .list li {
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .main_product {
        display: none;
    }
    .mainPage .mainPage_wrapper .mainPage_slide .contents {
        margin: 30px auto;
    }
    .mainPage .swiper-wrapper .s7 .journal_footer .title_more {
        margin: 30px 40px 30px;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub {
        width: 70%;
        margin-top: 20px;
        margin-right: 0;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .sub_swiper_cont .swiper-wrapper .sub_product a .shop_txt .title_price h3 {
        font-size: 1.25rem;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .sub_swiper_cont .swiper-wrapper .sub_product a .shop_txt .title_price .price {
        font-family: 'YESMyoungjo-Regular';
        font-size: 1rem;
        margin-top: 5px;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .sub_swiper_cont .swiper-wrapper .sub_product a .shop_txt .ex {
        line-height: 1.6;
        font-size: 1rem;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .swiper-pagination .swiper-pagination-bullet {
        width: 70px;
    }
    .mainPage .swiper-wrapper .s5 .event .event_list .swiper-wrapper .bn a .bn_eventin img {
        width: 60%;
    }
    .mainPage .swiper-wrapper .s5 .event .event_list .event1 .bn_eventin .gift_free .gift {margin-right: 20px;}
    .mainPage .swiper-wrapper .s6 .picture .container .basic {display: none;}
    .mainPage .mainPage_wrapper .mainPage_slide .contents .container .list {
        position: absolute;
        top: 108%;
        display: flex;
        flex-flow: column;
        align-items: baseline;
        justify-content: left;
    }
    .mainPage .mainPage_wrapper .mainPage_slide .contents .container .list h3 {
        margin-right: 0;
    }
    .mainPage .mainPage_wrapper .mainPage_slide .contents .container .list p {
        margin-top: 15px;
    }
    .mainPage .mainPage_wrapper .mainPage_slide .contents .container .list .place {margin-left: 20px; margin-right: 10px;}
    .mainPage .mainPage_wrapper .mainPage_slide .contents .container .list .time {}
    .mainPage .swiper-wrapper .s6 .picture .container .pic_list > .swiper-wrapper .pic_slide .pic_cont:first-child .pic_txt {
        margin-bottom: 50px;
    }
    .mainPage .swiper-wrapper .s6 .picture .container .pic_list > .swiper-wrapper .pic_slide .pic_cont .pic_txt {
        display: flex;
        margin-top: 8px; margin-bottom: 25px;
        justify-content: space-between;
        flex-flow: column;
    }
    .mainPage .swiper-wrapper .s6 .picture .container .pic_list > .swiper-wrapper .pic_slide .pic_cont .pic_txt h3 {
        font-size: 1.125rem;
        margin: 10px 0;
    }
    .mainPage .swiper-wrapper .s6 .picture .container .pic_list > .swiper-wrapper .pic_slide .pic_cont .pic_txt p {
        font-size: 0.875rem;
        width: 100%;
        text-align: right;
    }
    .mainPage .mainPage_wrapper .mainPage_slide .contents .container .arrow {
        top: 50%;
    }
    .mainPage .mainPage_wrapper .s6 .picture .container .swiper-button-prev {
        left: 10px;
    }
    .mainPage .mainPage_wrapper .s6 .picture .container .swiper-button-next {
        right: 10px;
    }
    .mainPage .swiper-wrapper .s7 .journal_footer footer .f_right .f_story {
        font-size: 0.75rem;
    }
}
@media screen and (max-width: 700px){
    .mainPage .mainPage_wrapper .mainPage_slide .contents .title_more .title {position: relative;
    }
    .mainPage .mainPage_wrapper .mainPage_slide .contents .title_more .title .list {
        position: absolute;
        top: 170%;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub {
        margin-top: 40px;
    }
    .mainPage .mainPage_wrapper .mainPage_slide .contents .container .list {
        top: 120%;
    }
    .mainPage .mainPage_wrapper .s3 .store .mapo {margin-top: 60px;}
    .mainPage .mainPage_wrapper .s4 .cafe .cafe_txt {
        margin-top: 60px;
        margin-right: 0;
    }
    .mainPage .mainPage_wrapper .mainPage_slide .contents .container .list h3 {
        font-size: 1.25rem;
    }
    .mainPage .swiper-wrapper .s5 .event .event_list .event1 .bn_eventin .gift_free .gift_free_cont h4 {
        font-size: 1rem;
        margin: 10px 0;
    }
    .mainPage .swiper-wrapper .s5 .event .event_list .swiper-wrapper .bn a .bn_eventin img {
        width: 90%;
    }
    .mainPage .swiper-wrapper .s5 .event .event_list .swiper-wrapper .bn a .bn_eventin img {
        width: 80%;
    }
    .mainPage .swiper-wrapper .s7 .journal_footer footer {
        transform: translateY(-20%);
    }
}
@media screen and (max-width: 600px){
    header .right {
        width: 20%;
    }
    header nav {
        position: absolute;
        top: 40px; left: 50%; transform: translateX(-50%);
        width: 90%;
    }
    .mainPage {margin-top: 80px;}
    .mainPage .swiper-wrapper .s1 .mainVisual video {
        display: none;
    }
    .mainPage .swiper-wrapper .s1 .mobile {
        display: block;
        width: 70%;
        margin-left: 20px;
        position: absolute;
        bottom: 20%; left: 0;
    }
    .mainPage .swiper-wrapper .s1 .mobile p {
        color: #000;
        font-size: 1.125rem;
        line-height: 1.8;
        font-weight: 300;
    }
    .mainPage .swiper-wrapper .s1 .mobile p span {
        font-size: 1.75rem;
        font-weight: 600;
        color: #000;
    }
    .mainPage .mainPage_wrapper .mainPage_slide .contents .title_more .title h2 {
        font-size: 1.375rem; margin-right: 0;
    }
    .mainPage .mainPage_wrapper .mainPage_slide .contents .title_more .title .list li a {
        font-size: 1rem;
    }
    .mainPage .mainPage_wrapper .mainPage_slide .contents .title_more .title .list li a span {
        font-size: 1rem;
    }
    .mainPage .mainPage_wrapper .s2 .shop {
        width: calc(100% - 40px);
    }
    .mainPage .mainPage_wrapper .s3 .store .title_more {
        width: calc(100% - 40px);
    }
    .mainPage .mainPage_wrapper .s4 .cafe .title_more {
        width: calc(100% - 40px);
    }
    .mainPage .mainPage_wrapper .s4 .cafe .cafe_txt {
        margin-left: 20px; margin-right: 20px;
        line-height: 1.5;
    }
    .mainPage .swiper-wrapper .s5 .event {
        width: calc(100% - 40px);
    }
    .mainPage .swiper-wrapper .s6 .picture {
        width: calc(100% - 40px);
    }
    .mainPage .swiper-wrapper .s7 .journal_footer .title_more {
        margin-left: 20px;
    }
    .mainPage .swiper-wrapper .s7 .journal_footer .container{width: calc(100% - 40px);
    }
    .mainPage .mainPage_wrapper .s4 .cafe .cafe_txt {
        font-size: 1rem;
    }
    .mainPage .swiper-wrapper .s5 .event .event_list .swiper-wrapper .bn a .bn_eventin img {
        width: 90%;
    }
    .mainPage .swiper-wrapper .s7 .journal_footer footer .f_txt {margin-left: 20px;}
    .mainPage .swiper-wrapper .s7 .journal_footer footer .f_right {margin-right: 20px;}
    .mainPage .swiper-wrapper .s6 .picture .container .pic_list {width: 90%;}
    .mainPage .mainPage_wrapper .s6 .picture .container .swiper-button-prev {
        left: -15px;
    }
    .mainPage .mainPage_wrapper .s6 .picture .container .swiper-button-next {
        right: -15px;
    }
    .mainPage .swiper-wrapper .s6 .picture .container .pic_list > .swiper-wrapper .pic_slide .pic_cont .pic_txt h3 {
        font-size: 1rem;
    }
    .mainPage .swiper-wrapper .s6 .picture .container .pic_list > .swiper-wrapper .pic_slide .pic_cont .pic_txt p {
        font-size: 0.75rem;
    }
    
    .mainPage .swiper-wrapper .s7 .journal_footer footer {
        flex-flow: column-reverse;
        padding: 20px 20px;
    }
    .mainPage .swiper-wrapper .s7 .journal_footer footer .f_right {
        display: flex;
        flex-flow: column-reverse;
        margin-right: 0;
    }
    .mainPage .swiper-wrapper .s7 .journal_footer footer .f_right .f_menu {
        margin-bottom: 15px;
        width: 80%;
    }
    .mainPage .swiper-wrapper .s7 .journal_footer footer .f_txt {
        margin-left: 0; margin-top: 15px;
    }
    .mainPage .swiper-wrapper .s7 .journal_footer footer {
        transform: translateY(-25%);
    }
}
@media screen and (max-width: 500px){
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .swiper-pagination .swiper-pagination-bullet {
        width: 50px;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub {
        width: 80%;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .sub_swiper_cont .swiper-wrapper .sub_product a .shop_txt .title_price h3 {
        font-size: 1rem;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .sub_swiper_cont .swiper-wrapper .sub_product a .shop_txt .title_price .price {
        font-family: 'YESMyoungjo-Regular';
        font-size: 0.875rem;
        margin-top: 5px;
    }
    .mainPage .mainPage_wrapper .s2 .shop .perfume .tablet_sub .sub_swiper_cont .swiper-wrapper .sub_product a .shop_txt .ex {
        line-height: 1.6;
        font-size: 0.875rem;
    }
    .mainPage .mainPage_wrapper .mainPage_slide .contents .title_more .title .list {
        width: 300px;
    }
    .mainPage .swiper-wrapper .s5 .event .event_list .event1 .bn_eventin .gift_free .gift_free_cont img {
        width: 60%;
    }
    .mainPage .swiper-wrapper .s5 .event .event_list .event1 .bn_eventin .gift_free .gift {
        margin-right: 0;
    }
    .mainPage .swiper-wrapper .s5 .event .event_list .event1 .bn_eventin .gift_free .gift_free_cont h4 {
        font-size: 0.875rem;
    }
    .mainPage .swiper-wrapper .s5 .event .event_list .event1 .bn_eventin .gift_free .gift_free_cont p {
        font-size: 0.688rem;
    }
}
@media screen and (max-width: 470px){
    .mainPage .swiper-wrapper .s5 .event .event_list .bn .click {width: 180px; height: 40px;}
    .mainPage .swiper-wrapper .s5 .event .event_list .bn .click > p {
        font-size: 1rem;
        line-height: 35px;
    }
    .mainPage .swiper-wrapper .s5 .event .event_list .bn .bn_title h3 {
        font-size: 1.25rem;
    }
    .mainPage .swiper-wrapper .s5 .event .event_list .bn .bn_title p {
        font-size: 1rem;
    }
}
@media screen and (max-width: 380px){
    .mainPage .swiper-wrapper .s1 .mobile {
        bottom : 30%; left: 0;
    }
    .mainPage .swiper-wrapper .s1 .mobile p {
        font-size: 1rem;
    }
    .mainPage .swiper-wrapper .s1 .mobile p span {
        font-size: 1.375rem;
    }
    .mainPage .mainPage_wrapper .mainPage_slide .contents .title_more .title .list {
        width: 240px;
    }
    .mainPage .mainPage_wrapper .mainPage_slide .contents .title_more .title .list li a {
        font-size: 0.875rem;
    }
    .mainPage .mainPage_wrapper .mainPage_slide .contents .title_more .title .list li a span {
        font-size: 0.875rem;
    }
    .mainPage .mainPage_wrapper .mainPage_slide .contents .container .swiper-pagination .swiper-pagination-bullet {
        width: 50px;
    }
    .mainPage .swiper-wrapper .s5 .event .event_list .event1 .bn_eventin .gift_free .gift_free_cont {
        text-align: center;
    }
    .mainPage .swiper-wrapper .s5 .event .event_list .event1 .bn_eventin .gift_free .gift_free_cont h4 {
        font-size: 0.688rem;
        margin: 5px auto;
        width: max-content;
    }
    .mainPage .swiper-wrapper .s5 .event .event_list .event1 .bn_eventin .gift_free .gift_free_cont p {
        font-size: 0.625rem;
        letter-spacing: -0.1rem;
    }
    .mainPage .swiper-wrapper .s5 .event .event_list .event1 .bn_eventin .gift_free .gift_free_cont img {
        width: 40%;
    }
    .mainPage .swiper-wrapper .s5 .event .event_list .bn .bn_title h3 {
        font-size: 1.125rem;
    }
}